#chartSection{
    display: flex;
    justify-content: space-around;
}

#lineChart{
    width: 400px;
    height: 600px;
}
#barChart{
    width: 400px;
    height: 600px;
}
h2{
    color: blue;
}
h3{
    color: red;
}